@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@100;400&display=swap');


:root {
--body-color:  rgb(253, 250, 245);
--btn-nav-color: rgb(250, 229, 216);
--btn-nav-header: rgb(233, 202, 181);
--btn-color: rgb(174, 188, 214);
--btn-hover: rgb(144, 165, 200);
--book-cover:  rgb(210, 231, 235);
--book-incomplete: rgb(244, 149, 149);
--book-complete: rgb(137, 206, 137);
}


body {
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    gap: 20px;

    position: relative;  /* for the book creation/editing forms */
}


nav button, p, input[type="submit"] {
    margin: 0;
    border: 0;
    padding: 0;
}


header {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 100vw;
    margin-top: 15px;
}
header img {
    margin: 0 1vw 0 1vw;
    height: auto;
    width: 70px;
}
header h1 {
    margin: 2vh 0;
}


hr {
    width: 50vw;
    margin-top: 0;
    margin-bottom: 0;
}
nav {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 1;  /* enable navbar to overlap the rest of the webpage */
    background-color: var(--body-color);
    padding: 10px 0 10px 0;

    display: flex;
    justify-content: center;
    gap: 2vw;
}
nav button {
    width: clamp(40px, 2.3em, 50px);
    height: clamp(40px, 2.3em, 50px);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3px;
    background-color: var(--btn-nav-color);
    border-radius: 10px 10px 10px 10px;
}
nav button:hover {
    background-color: var(--btn-nav-header);
}
.btn-group {
    display: flex;
}
#tablemode {
    background-image: url(./images/table.png);
}
#cardmode {
    background-image: url(./images/card.png);
}
#add-btn {
    background-image: url(./images/add-box.png);
}
.btn-group button:first-child {
    border-radius: 10px 0px 0px 10px;
}
.btn-group button:last-child {
    border-radius: 0px 10px 10px 0px;
}


.main-card {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: repeat(auto-fit,  minmax(250px, 1fr));
    row-gap: 50px;
    column-gap: 50px;
    justify-items: center;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.card-img {
    position: relative;
    width: clamp(90px, 10vw, 190px);
    height: clamp(130px, 14vw, 230px);
}
.card-img img {
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 0px rgb(236, 194, 194);
    border-radius: 8px;
    background-color: var(--book-cover);
}
.card-status {
    position: absolute;
    background-size: cover;
    left: 0;
    width: clamp(10px, 2em, 35px);
    height: clamp(10px, 2em, 35px);
    border-radius: 6px 0 6px;
}
.incomplete {
    /* Changes the color of the reading status to red */
    background-color: var(--book-incomplete);
    background-image: url(./images/eyeclose.png);
}
.complete {
    /* Changes the color of the reading status to green */
    background-color: var(--book-complete);
    background-image: url(./images/eye.png);
}
.card-options {
    position: absolute;
    display: flex;
    top: 3px;
    right: 3px;
    gap: 3px;
}
.card-options button {
    background-color: var(--btn-color);
    width: clamp(10px, 2em, 25px);
    height: clamp(10px, 2em, 25px);
    background-size: cover;
    border-radius: 6px;
}
.card-options button:hover {
    background-color: var(--btn-nav-header);
}
.card-edit {
    background-image: url(./images/edit.png);
}
.card-close {
    background-image: url(./images/close.png);
}
.card-title {
    margin-top: 10px;
    font-size: 1.3rem;
}
.card-author {
    font-size: 0.9rem;
}


/* Style for adding new books/editing existing books */
#book-creation-wrapper, #book-editing-wrapper {
    display: none;  /* hide window by default */
    
    background-color: var(--btn-nav-color);
    font-size: 1em;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40vw;
    height: auto;
    z-index: 2;
    border-radius: 15px;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 400;  /* Header title of pop up window */
    background-color: var(--btn-nav-header);
    padding: 10px 10px 10px 25px;
    border-radius: 15px 15px 0 0;
}
.popup-title {
    display: flex;
    flex-direction: column;
}
.popup-title:first-child {
    font-weight: 400;  /* Header title of pop up window */
}
.editedbook {
    font-size: 0.6em;  /* title of the book being edited */
}
.close-window {
    background-color: var(--btn-color);
    background-image: url(./images/close.png);
    width: clamp(20px, 1.8vw, 30px);
    height: clamp(20px, 1.8vw, 30px);
    background-size: cover;
    border-radius: 8px;
}
form {
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    padding: 15px 25px 15px 25px;

}
form :nth-child(2n) {
    /* Add space to every label + input pare */
    margin-bottom: 15px;
}
form input[type="text"] {
    /* Styling the textboxes */
    padding: 7px;
    border-radius: 7px;
}
form div {
    display: flex;
    column-gap: 8px;
}
form input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
}
form input[type="submit"] {
    background-color: var(--btn-color);
    border-radius: 8px;
    align-self: flex-end;
    padding: 8px 15px 8px 15px;
}


/* Style for table */
.main-table {
    display: flex;
    justify-content: center;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 5px 15px rgb(236, 194, 194);
    background-color: white;
    border-radius: 18px 18px 18px 18px;
}
thead {
    text-align: left;
    font-size: 1.5rem;
    background-color: var(--btn-color);
}
th {
    padding: 2vh;
    font-weight: 700;
}
th:first-child {
    /* 
    Round right corner of the table's first header
    since background color is not following border radius of table element
    */
    border-radius: 18px 0 0 0;
}
th:last-child {
    /* Round right corner of the table's first header */
    border-radius: 0 18px 0 0;
}
tr:not(:first-child) {
    /* Place top line border on each table row */
    border-top: 0.5px solid rgb(197, 193, 193);
}
td {
    font-size: 1.3rem;
    padding: 2vh 1.5vh 2vh 1.5vh;
}
td:nth-child(3n) {
    text-align: center;
}
td button {
    width: clamp(35px, 2.3em, 50px);
    height: clamp(35px, 2.3em, 50px);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}
.table-edit, .table-close {
    /* 
        Add color to table's close and edit button, excluding status button
        since javascript sets its color based on books reading status 
    */
    background-color: var(--btn-color);
}
.table-edit:hover, .table-close:hover {
    background-color: var(--btn-hover);
}
.table-status {
    background-image: url(./images/eye.png);
}
.table-close {
    background-image: url(./images/close.png);
}
.table-edit {
    background-image: url(./images/edit.png);
}

/* Tablet screen */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: repeat(auto-fit,  minmax(200px, 1fr));
    }
    .card-img {
        width: clamp(120px, 10vw, 220px);
        height: clamp(160px, 14vw, 260px);
    }
}


/* Mobile screen */
@media only screen and (max-width: 500px) {
    header img {
        height: 50px;
        width: auto;
    }
    header h1 {
        /* align header title to the book icon */
        margin: 1vh 0;
    }
    nav {
        bottom: 0;  /* Puts the navbar at the bottom of the screen */
    }
    main {
        /* adjust the grid-cell sizes */
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-auto-rows: repeat(auto-fit,  minmax(170px, 1fr));
    }
    .card-img {
        /* Adjust the size of book covers */
        width: clamp(90px, 10vw, 20px);
        height: clamp(130px, 15vw, 290px);
    }
    .card-options button {
        width: clamp(15px, 2.3em, 30px);
        height: clamp(15px, 2.3em, 30px);
    }
    .card-status {
        /* adjust book cover icon sizes (edit, close, read status) */
        width: clamp(10px, 2em, 35px);
        height: clamp(10px, 2em, 35px);
        bottom: 0;
        left: 0px;
        border-radius: 0 6px 0 6px;
    }
}